/* Responsive Styles */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

title {
  font-size: 2em;
}

description {
  font-size: 1em;
}

@media (max-width: 600px) {
  .title {
    font-size: 1.5em;
  }
  .description {
    font-size: 0.8em;
  }
}

@media (min-width: 601px) {
  .title {
    font-size: 2em;
  }
  .description {
    font-size: 1em;
  }
}