.dashboard {
  display: flex;
}

.sidebar {
  width: 250px;
  position: fixed;
  height: 100%;
  background-color: #f8f9fa;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
  .main-content {
    margin-left: 200px;
  }
}
